.jumbotron {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3rem;
    margin: 0;
    border-radius: 0;
    background-image: url("https://images.pexels.com/photos/167538/pexels-photo-167538.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    font-family: 'News Cycle', sans-serif;
  }
  
  .title-container {
    opacity: 0.9;
    padding: 20px;
    color: white;
  }
  
  p {
    font-size: 1rem;
  }